# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data files
*.raw
*.npy
*.dcm
*.tar
*.lzo
*.yml
*.yaml
data/samples/**/raw_*_extracted/

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject

# Operating System
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/ 